#block {
  display: block !important;
}
#block2 {
  display: none !important;
}

@media (min-width: 1200px) {
  .header-diamant {
    padding: 6rem 0;
  }
  .menu {
    top: 0px;
  }
  body {
    margin-top: 115px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1199px) {
  .deux {
    margin: 10px 0 0 0 !important;
  }
  .menu {
    bottom: 0px;
  }
  body {
    margin-bottom: 115px;
    margin-top: 10px;
  }
  .grand{display: none;}
}
.deux {
  margin: 0 0 0 10px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

label {
  margin: 0 0 0 0 !important;
}

body {
  /*background-image: url(../img/fondclair3.png);
  background-attachment: fixed;*/
  /*  background-color: #09253B;*/
  background-size: cover;
  background-color: #2f3b50;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

#maison {
  position: absolute;
  bottom: 73px;
  background-image: url(../img/maison.png);
  background-size: cover;
  height: 170px;
  width: 300px;
  background-repeat: no-repeat;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  z-index: 1;
}

#arbre {
  position: absolute;
  bottom: 74px;
  right: 0px;
  margin: 0;
  background-image: url(../img/arbre.png);
  background-size: cover;
  height: 210px;
  width: 110px;
  background-repeat: no-repeat;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  z-index: 4;
}

.haut {
  text-align: center;
  color: white;
  z-index: 10;
  width: 90%;
  margin: auto;
  /*  background-color: #343A40;
  border-bottom: solid 5px #1E2124;*/
  margin-bottom: 10px;
}

.menu {
  /*text-align: center;
  position: absolute;
  bottom: 0px;*/
  z-index: 10;
  width: 100%;
  /*background-color: #0B304A;
  border-bottom: solid 5px #061D2D;
  border-top: solid 2px #061D2D;*/
}

.contenu {
  margin-top: 10px;
  width: 90%;
  color: white;
  margin: auto;
}
.contenu,
.row .contenant {
  border-radius: 1.25rem;
}

.contenu p,
.contenu h2,
.contenu h3 {
  margin: 10px;
}

.contenu p {
  margin: 10px 20px;
}

.contenu img {
  margin: 10px;
}

.form-control {
  display: inline-block;
  width: auto;
  background-color: #1d2124;
  vertical-align: middle;
  border: 0;
  color: white;
  width: 100px;
  text-align: center;
}

.form-control:focus {
  display: inline-block;
  width: auto;
  background-color: #1d2124;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  border: 0;
  color: white;
}

#d0,
#d1,
#d2,
#d3,
#d4 {
  position: relative;
  z-index: 2;
  background-color: #212937;
}

#d1,
#d2,
#d3,
#d4 {
  display: none;
}

/*.container {
  background-color: white;
  min-height: 100vh;
}*/

/*.container .row div {
  border: solid 10px white;
  background-color: gray;
  color: white;
  text-align: center;
}*/

.form-control:focus {
  width: inherit;
  vertical-align: middle;
}

button {
  height: 48px;
}

.pwa {
  background-color: #515456;
}
/*# sourceMappingURL=style.css.map */

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  /*box-shadow: 0 10px 20px -5px rgb(0 0 0 / 13%);*/
  height: 106px;
}

div.scrollmenu .test {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.contenant {
  background-color: #212937;
}

/* div.scrollmenu a:hover {
  background-color: #777;
}*/

.tete {
  height: 78px;
  overflow: hidden;
  display: inline-block;
}

.tete {
  filter: drop-shadow(0px 0px 0px rgb(255, 255, 255)) grayscale(1);
  transition: all 0.4s;
}
.tete:hover {
  filter: none;
  background-color: #42608b;
}
.tete:hover .pseudo {
  color: white;
}

.pseudo {
  margin: -25px;
  padding-top: 10px;
  color: #ababab;
  font-family: monospace;
}

h1 {
  font-size: 2rem;
}

.alert-primary {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.avatar {
  width: 58px;
  height: 71px;
  
  position: inherit;
  z-index: 10;

}

.Blayk2 {
  background: url(https://api.habbocity.me/avatar_image.php?user=blayk&action=std&size=n&head_direction=4&img_format=png&direction=4&gesture=std&headonly=0) -7px
    2px !important;
}
.Custom2 {
  background: url(https://api.habbocity.me/avatar_image.php?user=Custom&action=std&size=n&head_direction=2&img_format=png&direction=2&gesture=std&headonly=0) -7px
    2px !important;
}
.Farw {
  background: url(https://api.habbocity.me/avatar_image.php?user=Farw&action=std&size=n&head_direction=2&img_format=png&direction=2&gesture=std&headonly=1) -7px
    2px !important;
}
.Custom {
  background: url(https://api.habbocity.me/avatar_image.php?user=Custom&action=std&size=n&head_direction=2&img_format=png&direction=2&gesture=std&headonly=1) -7px
    2px !important;
}

/**/

.msg {
  background-color: rgb(255, 245, 215);
  max-width: 570px;
  box-shadow: 0 0 0 1px rgb(206 100 1), inset 0 -2px rgb(0 0 0 / 10%),
    0 3px rgb(0 0 0 / 10%);
  border-radius: 4px;
  float: right;
  padding: 10px;
  margin: 10px;
  color: #a64f00;
  position: relative;
}

.interviewve .msg {
  background-color: rgb(255, 255, 255);
  max-width: 610px;
  box-shadow: 0 0 0 1px rgb(90 90 90), inset 0 -2px rgb(0 0 0 / 10%),
    0 3px rgb(0 0 0 / 10%);
  color: #666666;
  float: left;
}

.msg:before {
  content: "";
  position: absolute;
  top: 8px;
  right: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgb(255, 245, 215);
  -webkit-filter: drop-shadow(1px 0 rgb(206, 100, 1));
  filter: drop-shadow(1px 0 rgb(206, 100, 1));
}

.interviewve .msg:before {
  content: "";
  position: absolute;
  top: 8px;
  right: 100%;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgb(255, 255, 255);
  border-left: none;
  -webkit-filter: drop-shadow(-1px 0 rgb(90, 90, 90));
  filter: drop-shadow(-1px 0 rgb(90, 90, 90));
}

.tout {
  font-size: 12px;
  font-family: arial;
}

.separation {
  background-color: #43628c;
  box-shadow: 0 1px rgb(0 0 0 / 15%);
  height: 1px;
  margin: 10px;
}

.col, .col-1 {padding: 0px;}